extends layout

block content
	h1= title
	div(class="row ")
		div(class="col-md-6")
			section
				blockquote
					p Nouveau job
				form(role="form", action="/deploiement/add", method="GET")
					div(class="form-group")
						label(for="name") Nom
						input(type="text", class="form-control", id="name", name="name", value="#{name ? name : ''}")
						span(class="label label-default") Nom permettant de retrouver votre job parmis la liste de tous les jobs
					div(class="form-group")
						label(for="goals") Maven 'goals'	
						input(type="text", class="form-control", id="goals", name="goals", placeholder="clean install", value="#{goals ? goals : ''}")
						span(class="label label-default") Permet de setter les arguments à passer à la commande maven
					div(class="form-group")
						label(for="profile") Maven 'profile'
						input(type="text", class="form-control", id="profile", name="profile", placeholder="full", value="#{profile ? profile : ''}")
						span(class="label label-default") Permet de setter le profile à passer à la commande maven
					div(class="form-group")
						label(for="folder") Project 'folder'
						input(type="file", class="form-control", id="folder", name="folder")
						span(class="label label-default") Permet de choisir ou se trouve le dossier du projet
					if errors != null
						div(class="alert alert-danger", role="alert")
							each error in errors
								p= error.msg
					if success != null
						div(class="alert alert-success", role="alert")= success
					if error != null
						div(class="alert alert-danger", role="alert")= error
					button(type="submit", class="btn btn-default") Submit


		div(class="col-md-6")
			section
				blockquote
					p Jobs
				table(class="table table-striped")
					thead
						tr
							th Nom
							th Goals
							th Profile
							th Run
					tbody(id="deploiement_list")

	script(type='text/javascript').
		$(document).ready(function(){
			$.ajax({
				url: "/deploiement/list",
				success: function(data){
					for (var i = 0; i < data.length; i++)
					{
						var html = "<tr>";
						html += "<td>" + data[i].deploiement_name + "</td>";
						html += "<td>" + data[i].deploiement_goals + "</td>";
						html += "<td>" + data[i].deploiement_profile + "</td>";
						html += "<td><button class=\"btn-cmd btn btn-xs btn-success\" type=\"button\" id=\"cmd_" + data[i]._id + "\"> > </button>";
						html += "</tr>";
						$("#deploiement_list").append(html);
					}
				},
			});
		});
